/* HEADER SECTION */
.header-idea {
        display: flex;
        justify-content: space-between;
        padding: 2rem 10rem;
        align-items: center; /* Vertically center-align items */
    }
    
    .header-left {
        flex: 1;
        display: flex;
        flex-direction: column; /* Display title and description in a column */
        align-items: center; /* Move content to the right within the left section */
    }
    
    .header-left h1,
    .header-left p {
        margin-bottom: 1rem; /* Add spacing between title and description */
        text-align: left; 
        padding-right: 40px;/* Right-align text within the left section */
        padding-left: 40px;
    }
    
    .header-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center; /* Move content to the top within the right section */
    }
    
    .header-right img {
        max-width: 80%;
        height: auto;
        border-radius: 2rem;
        
    }
    
    
 
.navgap{
        gap: 7rem;
}


/* Idea List */

/* Idea Card Styles */

.idea-container {
        display: flex;
        justify-content: center; /* Horizontally center the card */
        align-items: center; /* Vertically center the card */
        height: 39vh; /* Make the container full height of the viewport */
    }

.idea-card {
        background-color: #f9f9f9;
        border: 1px solid rgb(163, 163, 163);
        border-radius: 2rem;
        padding: 1rem;
        margin: 2rem 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 700px;
        padding-left: 40px;
    }
    
    .idea-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: black;
    }
    
    .idea-description {
        font-size: 1rem;
        color: rgb(85, 85, 85);
        margin-bottom: 1rem;
    }
    
    .idea-domain, .idea-tech-stack {
        font-size: 0.9rem;
        color: rgb(85, 85, 85);
        margin-bottom: 0.5rem;
    }
    
    .idea-button {
        background-color: rgb(53, 53, 53);
        color: white;
        border: none;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .idea-button:hover {
        background-color: rgb(0, 0, 0);
    }
    

.ideas-header{
        text-align: center;
}